.gameCell {
    font-size: 50px;
    border-radius: var(--border_radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    color: var(--cell_font_color);
}

.isJustSpawned {
    animation: .1s spawn;
}

@keyframes spawn {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

.color2 {
    background: var(--2_cell_color);
    color: var(--black_cell_font_color);
}

.color4 {
    background: var(--4_cell_color);
    color: var(--black_cell_font_color);
}

.color8 {
    background: var(--8_cell_color);
    color: var(--black_cell_font_color);
}

.color16 {
    background: var(--16_cell_color);
}

.color32 {
    background: var(--32_cell_color);
}

.color64 {
    background: var(--64_cell_color);
}

.emptyColor {
    background: var(--empty_cell_color);
    color: var(--empty_cell_color);
}

.bigIntColor {
    background: var(--bigint_cell_color);
}
