* {
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  user-select: none;
  color: #171A1D;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("./assets/fonts/Comic Sans MS.ttf");
}

body {
  width: 100%;
  height: 100vh;
  background: var(--page_background);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

:root {
  --page_background: #F2F2EF;
  --game_background: #6B5B41;
  --cell_font_color: #F2F2EF;
  --black_cell_font_color: #171A1D;
  --empty_cell_color: #827E6F;
  --2_cell_color: #83AE93;
  --4_cell_color: #A5A652;
  --8_cell_color: #9C711C;
  --16_cell_color: #6B453B;
  --32_cell_color: #60292F;
  --64_cell_color: #712B1E;
  --bigint_cell_color: #832323;
  --border_radius: 8px;
}

button {
  cursor: pointer;
}
